@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
}

@layer utilities {
  /* .grid-container {
    display: grid;
    grid-template-areas:
      'a b . c'
      'a d d d'
      '. e e e'
      '. f f f';
    
  }

  .item1 {
    grid-area: 'a';
  }
  .item2 {
    grid-area: 'b';
  }
  .item3 {
    grid-area: 'c';
  }
  .item4 {
    grid-area: 'd';
  }
  .item5 {
    grid-area: 'e';
  }
  .item6 {
    grid-area: 'f';
  } */
}
