@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .grid-container {
    @apply grid-template-areas: "area-one area-two area-three"
                                "area-four area-five area-six"
                                "area-seven area-eight area-nine"
                                "area-ten area-eleven area-twelve";
  }
}

@layer utilities {
  .light-box-shadow {
    box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  }
}
